/* Media Mobile Home*/

@media screen and (max-width: 768px) {
    .main-index {
        .servicios{
            .autos-home {
                display: block;
                .item {
                    #imagen-autos-main{
                        width: 250px;
                        height: 150px;
                    }
                }
            }
        }
    }
}
/*Media Mobile Ventas*/
@media screen and (max-width: 768px) {
    .main-ventas {
        .h1-ventas {
            padding-left: 40px;
        }
        .cards-ventas {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 20px;
            padding-left: 26px;
            .card {
                .card-img-top {
                    height: 150px;
                }
            }
        }
    }
}

/*Media Mobile Ubicación*/
@media (max-width: 768px) {
    .main-ubicación {
        h1 {
            text-align: center;
        }
        .section-ubi {
            .calle {
                text-align: center;
            }
            .mapa-container {
                margin: 0;
                padding: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100vh;
                .responsive-iframe {
                    border-radius: 10px;
                }
            }
        }
    }
}
/*Media Mobile Quienes Somos*/
@media screen and (max-width:768px){
    .main-qs {
        .explicación {
            .charla-div {
                display: grid;
                grid-template-columns: repeat(1, 2fr);
                margin-top: 40px;
                padding-bottom: 60px;
                border-bottom: solid 3px #ffff;
                .charla-img {
                    margin-left: 0.5cm;
                    .charla {
                        width: 250px;
                        border-radius: 10px;
                        margin-left: 1.3cm;
                        margin-top: 20px;
                        transition: transform 0.3s ease-out;
                        &:hover {
                            transform: scale(1.05);
                        }
                    }
                }
                .text-charla {
                    margin-top: 35px;
                    .p-charla {
                        text-align: center;
                        background-color: rgba(14, 135, 183, 0.5);
                        margin-left: 60px;
                        border-radius: 10px;
                        padding: 40px 20px 30px 20px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }
                }
            }
            .firma-div {
                display: grid;
                grid-template-columns: repeat(1, 2fr);
                padding-bottom: 30px;
                margin-top: 40px;
                border-bottom: solid 3px #0E87B7;
                .firma-img {
                    margin-left: 0.5cm;
                    .firma {
                        width: 250px;
                        border-radius: 10px;
                        margin-left: 1.2cm;
                        margin-top: 20px;
                        transition: transform 0.3s ease-out;
                        &:hover {   
                            transform: scale(1.05);
                        }
                    }
                } 
                .text-firma {
                    margin-top: 50px;
                    .p-firma{
                        text-align: center;
                        background-color: rgba(255, 255, 255, 0.5);
                        margin-right: 50px;
                        border-radius: 10px;
                        padding: 10px 5px 10px 5px;
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                    }
                }
            }
        }
    }
}